<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734975451672-lf2fdg4qtppb386v4c9klki9na06bqen.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734975451672-lf2fdg4qtppb386v4c9klki9na06bqen</string>
	<key>API_KEY</key>
	<string>AIzaSyD6MHlrphKcgJUUEfdowGuFmnZtSdw-csY</string>
	<key>GCM_SENDER_ID</key>
	<string>734975451672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.litehub</string>
	<key>PROJECT_ID</key>
	<string>chathub-3cbbe</string>
	<key>STORAGE_BUCKET</key>
	<string>chathub-3cbbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734975451672:ios:6d28209a52c134a26c596d</string>
</dict>
</plist>